@import "~react-toolbox/lib/_colors";
@import "~react-toolbox/lib/_globals";

$font_family: Roboto, 'Open Sans', sans-serif;
$font_size: 14px;
$img: "../img/";
$icons: $img + "icons/";

$screenSmWidth: 768px;
$screenMdWidth: 992px;
$screenLgWidth: 1200px;